<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Express+EJS</title>
    <link rel="stylesheet" href="/estilo.css"/>
</head>
<body>
    <h1><%=titulo%></h1>
    <p>Você fez <%=i%> acessos e o último em <%=acesso%></p>
</body>
</html>